html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../images/programmer.jpeg");
	background-size:cover;
	background-attachment: fixed;
}

.header {
	background-color: rgba(52, 58, 64, 0.7);
}

.nav-link {
	color: #E0E0E0 !important;
	font-size: 17px !important;
}

.nav-link:hover {
	color: white !important;
}

.navbar-toggler {
	border: 1px solid #999794 !important;
}

.name {
	font-size: 5vw !important;
}

.photo {
	width: 230px;
	height: 230px;
	border: 7px solid white;
	border-radius: 50%;
	margin: -115px auto 70px auto;
	background-image: url("../images/avatar.jpg");
	background-size: cover;
	transition: all 0.5s;
}

.photo:hover {
	transform: scale(1.1);
}

.pos {
	letter-spacing: 3px
}

.headings {
	letter-spacing: 3px;
}

.about {
	padding: 0 150px 0 150px;
	letter-spacing: 2px;
	font-size: 18px;
}

.edu {
	border-right: 1px solid gray;
	text-align: right;
}

.place {
	padding-left: 50px;
}

.education {
	padding-right: 50px;
}

.firstEdu, .secondEdu {
	margin-right: 50px;
	transition: margin 1s;
}

.firstPlace, .secondPlace {
	margin-left: 50px;
	transition: margin 1s;
}

.prog-bar {
	width: 100%;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.to-top {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: -80px auto 30px auto;
	background-color: #FF0000;
	cursor: pointer;
	text-align: center;
	padding: 12px;
}

.to-top:hover {
	background-color: #FF5650
}

.eighty {
	width: 80%;
}

.seventy {
	width: 70%;
}

.fifty {
	width: 50%;
}









